<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=windows-1252" />
		<TITLE>TKM THE IoT Home Automation board</TITLE>
	</HEAD>
	<BODY LANG="en-US" DIR="LTR">
		<h1>THE IoT Home Automation board</h1>
		<h2>ESP32 based modules carrier board</h2>
		<P>This project template is a starting point for creating a device
		to automate a portion of your home.  This device will be able to 
		include one or more modules from THE IoT Home Automation project.
		The modules provide a sub-circuit of sorts that, each, provide a 
		single function (such as a sensor or motor driver).
		The modules all are designed to work together homogenously in a
		platform based on a ESP32 MCU, 3.3V or 5V operating voltages.
		More information can be found at 
		<A href="https://github.com/thekarlmiller/THEIoTHomeAutomation">THEIoTHomeAutomation</a>.
		<BR><BR>The board outline looks like the following:
		</P>
		<P><IMG SRC="TKMLogo v8.png" NAME="brd" ALIGN=BOTTOM WIDTH=344 HEIGHT=383
		BORDER=0><BR><BR><BR><BR>
		</P>
		<P>2024 THE Karl Miller - mailto:THEKarlMiller@gmail.com </P>
	</BODY>
</HTML>